<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,0},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>bt_buy_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,0},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>bt_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,71},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>bt_coin_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,72},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,0},{143,86}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{143,86}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>button_bg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,0},{139,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{139,82}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>button_disable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,0},{143,86}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{143,86}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>button_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{38,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,79}}</string>
                <key>sourceSize</key>
                <string>{38,79}</string>
            </dict>
            <key>button_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,71},{38,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,79}}</string>
                <key>sourceSize</key>
                <string>{38,79}</string>
            </dict>
            <key>button_task_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,0},{98,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,139}}</string>
                <key>sourceSize</key>
                <string>{98,139}</string>
            </dict>
            <key>dialog_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,60},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>dialog_bt_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>index_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{260,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,72}}</string>
                <key>sourceSize</key>
                <string>{260,72}</string>
            </dict>
            <key>index_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{260,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,71}}</string>
                <key>sourceSize</key>
                <string>{260,71}</string>
            </dict>
            <key>score_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,72},{123,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,46}}</string>
                <key>sourceSize</key>
                <string>{123,46}</string>
            </dict>
            <key>score_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{123,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,46}}</string>
                <key>sourceSize</key>
                <string>{123,46}</string>
            </dict>
            <key>setting_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,0},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>setting_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,0},{115,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>setting_button0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,0},{131,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,65}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>setting_button0_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,0},{131,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,65}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>setting_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,36},{173,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,79}}</string>
                <key>sourceSize</key>
                <string>{173,79}</string>
            </dict>
            <key>setting_button1_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,38},{173,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,79}}</string>
                <key>sourceSize</key>
                <string>{173,79}</string>
            </dict>
            <key>switch-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,0},{53,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,32}}</string>
                <key>sourceSize</key>
                <string>{53,32}</string>
            </dict>
            <key>switch-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,0},{53,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,32}}</string>
                <key>sourceSize</key>
                <string>{53,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.pvr.ccz</string>
            <key>size</key>
            <string>{2003,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5796779e244450c84fd9b470bcdd1953$</string>
            <key>textureFileName</key>
            <string>gui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
