<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>bg_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,227},{523,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,43}}</string>
                <key>sourceSize</key>
                <string>{523,43}</string>
            </dict>
            <key>btn_disable_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,84},{165,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,78}}</string>
                <key>sourceSize</key>
                <string>{165,78}</string>
            </dict>
            <key>btn_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{170,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,83}}</string>
                <key>sourceSize</key>
                <string>{170,83}</string>
            </dict>
            <key>btn_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,83}}</string>
                <key>sourceSize</key>
                <string>{170,83}</string>
            </dict>
            <key>editBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>team_hight_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,172},{623,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,56}}</string>
                <key>sourceSize</key>
                <string>{623,56}</string>
            </dict>
            <key>team_hight_light_orn.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,172},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a2540d09f381475a745672bd68caf33$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
